html, body {
    height: 100%;
    margin: 0;
    font-family: system-ui, Arial, sans-serif;
}

main {
    height: 100%;
    display: grid;
    place-items: center;
    gap: 10px;
}

canvas {
    border: 2px solid black;
    background: white;
}

.hint {
    margin: 0;
    opacity: 0.7;
}